@model ContactModel
@{
  ViewData["Title"] = "Erase Contact";
}

<div class="d-flex flex-column align-item-center justify-content-center text-center">
  <h3 class="d-inline-block">
    Do you really want to erase <span class="text-primary">@Model.Name</span>?
  </h3>

  <div class="gap-1" role="group" aria-label="Confirm contact erase group buttons">
    <a role="button" class="btn btn-danger rounded" asp-controller="Contacts" asp-action="Index">Decline</a>
    <a role="button" class="btn btn-success rounded" asp-route-id="@Model.Id" asp-controller="Contacts" asp-action="Remove">Confirm</a>
  </div>
</div>

